.Sub_menu{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu_list_1, .menu_list_2, .menu_list_3, .menu_list_4, .menu_list_5, .menu_list_6, .menu_list_7, .menu_list_8 {
    background-color: white;
    display: flex;
    padding: 10px;
    box-shadow: 2px 1px 8px -3px rgb(0 0 0 / 10%);
    border-radius: 1rem;
}