.card {
    text-decoration: none;
 
&__img {

    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    box-shadow: none;
      
}
&__description {
    position: relative;
    background-color: $white;
    border-radius: 0 0 1rem 1rem;
   }
}

.restaurant-name {
    font-family: 'Roboto';
    margin: 0.5rem;
    font-weight: 700;
    
    line-height: 21px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}
.restaurant-location {
    margin-left: 10px;
    color: #000000;
    margin-bottom: 5px;
    
}
.cards {
       display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 992px)
        {
        flex-direction: row;
        }  
}



/* card miguel */
.main__section__card
{
    background: $white;
    border-radius: 15.04px;
    margin: 15px;
    height: 78.07px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
&__card-text
{
    margin: 15px 0 0 5px;
    height: 58.07px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}
&__main-text
{
   
    
    line-height: 21.09px;
    margin: 0 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
&__second-text
{
   
 
    line-height: 17.58px;
    margin: 0 5px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price
{
   line-height: 17.58px;
    color: $darkcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 15px 0 0;
}
}

.card-text .card-text-icon-checkbox-empty
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15.04px 15.04px 0;
    background: $white;
    color: $white;
    width: 0px;
    height: 0px;
    cursor: pointer;
}
.main__section__card:hover .card-text-icon-checkbox
{
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15.04px 15.04px 0;
    background: $mint;
    height: 58px;
    animation: expand 1s forwards;
}
@keyframes expand{
    0% {
        width: 0px;
        padding: 0px;
    }
    100% {
        width: 50px;
        padding: 10px;
    }
}