
.arrow {
    position: absolute;
    left: 20px;
    & i {
        color: $darkgrey;
    }
}
    
img {
    object-fit: cover;
    height: 390px;
    width: 100%;  
}
.menu__container {
    background-color: $lightgrey;
    border-radius: 45px 45px 0px 0px;
    position: relative;
    top: -30px;
    margin: 0px 0px -30px 0px;
    padding: 20px;
    @media screen and (min-width: 992px)
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 12px 5px 12px 20px;
        gap: 11px;
        margin: 0px 150px -27px 150px; 
    }
}
.menu__section {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items:center;
}
.menu__title {
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;   
    }     
.Sub__menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
            
    }
    
.Sub__menu-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 5px 0 11px;
    color:  $black;
    padding-left: 3px;
    border-bottom: 3px solid $mint;
    width: 37px;
}    
.menu__list-1,
  .menu__list-2,
  .menu__list-3,
  .menu__list-4,
  .menu__list-5,
  .menu__list-6,
  .menu__list-7,
  .menu__list-8,
  .menu__list-9 {
    background-color: white;
    box-shadow: 2px 1px 8px -3px rgb(0 0 0 / 10%);
    border-radius: 1rem;
  }
  .menu__Card
  {
      background: $white;
      border-radius: 15.04px;
      margin: 15px 0 15px 0;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      height: 68px;
      width: 100%;
      @media screen and (max-width:992px) {
      width: 100%;  
      }
  }
  .menu__Card-text
  {
      margin: 15px 0 0 5px;
      height: 58.07px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
  }
  h4 {
    font-size: 18px;
    line-height: 21px;
    margin-left: 6px;   
 }
 p {
    margin-left: 5px;
    color: $black;
 }
 .menu__list-title
{
    font-size: 18px;
    line-height: 21.09px;
    margin: 0 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__list-description
{
    font-size: 18px;
    line-height: 17.58px;
    margin: 0 5px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__list-price
{
    font-size: 18px;
    line-height: 17.58px;
    color: $darkcolor;
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 12px 35px;
}
/* checkbox animation */

.icon .fa-circle-check {
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
}
.icon:hover .fa-circle-check {
    color: $white;
    clip-path: circle(40%);
    width: 30px;
}
.menu__list-checkbox {
    display:flex;
    align-items: center;
    border-radius: 0 15.04px 15.04px 0;
    background: $white;
    color: $white;
    height: 10px;
    cursor: pointer;
    margin-left: 20px;
   
}
.menu__list-animation { 
    color: $white;
    display:flex;
    align-items: center ;
    border-radius: 0 15.04px 15.04px 0;
    background: $mint;
    height: 96px;
    padding: 16px;
    margin: 1px 0px -58px 0px; 
    visibility: hidden;
    animation: shrink 1s forwards;
}
@keyframes shrink {
    0% {
        visibility: visible;
        width: 60px;
        padding: 10px;
      }
      100% {
        visibility: hidden;
        width: 0px;
        padding: 0px;
        
      }  
}
.menu__Card:hover .menu__list-animation {
    animation: expand 1s forwards;
  }

  @keyframes expand {
    0% {
      visibility: visible;
      width: 0px;
      padding: 0px;
    }
    100% {
      visibility: visible;
      width: 60px;
      padding: 10px;
      
    }
  }
  
/* animations cards */
.Sub__menu
{
    animation: Sub__menu 2500ms forwards;
    width: 70%;
}
@keyframes Sub__menu{
0% {
    transform: translateX(-9999px);
    }

100% {
    transform: translateX(0);
}
}
.Sub__menu
{
    animation: Sub__menu 3500ms forwards;
    
}
@keyframes Sub__menu{
0% {
    transform: translateX(-9999px);
}

100% {
    transform: translateX(0);
}
}
.Sub__menu
{
    animation: Sub__menu 4500ms forwards;
    
}
@keyframes Sub__menu{
0% {
    transform: translateX(-9999px);
}

100% {
    transform: translateX(0);
}
} 
 /* command Button */

.Bottom_Btn {
    display: flex;
    justify-content: center;
}
.command_Btn {
    box-shadow: 2px 1px 16px -3px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-radius: 25px;
    color:$white;
    padding: 1rem 2rem;
    font-weight: 500;
    border:none;
    font-size: 16px;
    margin: 1.5rem 0 1.5rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        opacity: 0.9;
}
}

/* CSS des restaurants en mobile first */
@media screen and (max-width: 574px) {
.menu__container {
    margin: 0px -10px -30px 0px;
}
.menu__section {
    margin-left: 15px;
}
.Sub__menu {
    width: 100%;
}
.Sub__menu-title {
    margin: 15px 0 11px;
}
}
/* Version tablette des autres pages des restaurants */
@media screen and (min-width: 575px) and (max-width: 991px){
    .menu__title {
        margin-left: auto;
        margin-right: auto;
    }
    .Sub__menu-title {
        margin: 15px 0 11px;
    }
    .Sub__menu {
        width: 100%;
    }
}

