.arrow {
    position: absolute;
    left: 20px;
    & i {
        color: $darkgrey;
    }
    }
    
img {
    height: 300px;
    width: 375px;
    object-fit: cover;
}
.menu_container {
    background-color: $lightgrey;
    border-radius: 45px 45px 0px 0px;
}
.menu_header {
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
}
.menu_title {
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        color: #101010;   
    }
    .Heart_Btn {
        border-style: none;
        font-size: 20px;

    }

 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 5px 0 11px;
    color:  $black;
}
 h4 {
    font-size: 18px;
    line-height: 21px;
    margin-left: 6px;
    
 }
 p {
    margin-left: 5px;
    color: $black;
 }
 .menu_list_price {
    display: flex;
    justify-content: end;
 }
.Bottom_Btn {
    display: flex;
    justify-content: center;
}
.command_Btn {
    height:20%;
    width: 60%;
    box-shadow: 2px 1px 16px -3px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-radius: 25px;
    color:$white;
    padding: 1rem 2rem;
    font-weight: 500;
    border:none;
    font-size: 16px;
    margin: 1.5rem 0 1.5rem;
    
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        opacity: 0.9;
}
}