.arrow {
    position: absolute;
    left: 20px;
}

img {
    background-image:url(../assets/images/images/menu-1.jpg);
}
.Sub_menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu_list_1 {
    background-color: white;
    display: flex;
    padding: 10px;
    box-shadow: 2px 1px 8px -3px rgb(0 0 0 / 10%);
    border-radius: 1rem;
}