$violet: #9356DC;
$lightviolet:#F5EDFF;
$pink: #FF79DA;
$lightgrey: #F7F7F7;
$lightgreen: #99E2D0;
$darkcolor: #353535;
$white: #FFFFFF;
$mint: #99E2D0;
$black: #000000;
$green: #008766;
$grey: #EAEAEA;
$darkgrey: #353535;
$mediumgrey: #F5EDFF;
/* les couleurs du  header */
$grey-header: #EAEAEA;
$white-header: #FFFFFF;

/* Les couleurs du footer */
$white-footer: #FFFFFF;
$darkgrey-footer: #353535;